{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}Criar perfil | {% endblock %}
{% block conteudo %}
<br>
<br>
<div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Bem-vindo, {{ request.user.first_name }}!</h4>
        <br>
        <p>Email: {{ request.user.email }}</p>
        <p>Usuário: {{ request.user.username }}</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ p_form|crispy }}
            <button type="submit" class="btn btn-dark btn-block btn-lg">Atualizar Cadastro</button>
        </form>
    </div>
    {% else %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <div class="alert alert-info" role="alert">Se você já tem cadastro, basta entrar com seu usuário e senha abaixo:</div>
        <form method="POST" action="{% url 'perfil:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="InputUsuario1">Usuário</label>
                <input type="text" name='username' class="form-control" id="InputUsuario1" aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Senha:</label>
                <input name='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-dark btn-block btn-lg text-warning">Entrar</button>
        </form>
        <p class="mt-2">
            <a href="{% url 'perfil:reset_password' %}">Esqueceu a senha?</a>
        </p>
    </div>
    {% endif %}
    <div class="col-lg mt-3">
        <h4>Cadastro</h4>
        <div class="alert alert-info" role="alert">
            Caso ainda não tenha cadastro, utilize o formulário a seguir para se cadastrar
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class='btn btn-dark btn-block btn-lg text-warning'>Atualizar Cadastro</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function formatarTelefone(elemento) {
        let telefone = elemento.value.replace(/\D/g, '');
        telefone = telefone.replace(/^(\d{2})(\d)/g, '($1) $2');
        telefone = telefone.replace(/(\d)(\d{4})$/, '$1-$2');
        elemento.value = telefone;
    }

    function formatarData(elemento) {
        let data = elemento.value.replace(/\D/g, '');
        if (data.length <= 2) {
            elemento.value = data;
        } else if (data.length <= 4) {
            elemento.value = data.replace(/(\d{2})(\d)/, '$1/$2');
        } else {
            elemento.value = data.replace(/(\d{2})(\d{2})(\d)/, '$1/$2/$3');
        }
    }

    function formatarCPF(elemento) {
        let cpf = elemento.value.replace(/\D/g, '');
        if (cpf.length <= 3) {
            elemento.value = cpf;
        } else if (cpf.length <= 6) {
            elemento.value = cpf.replace(/(\d{3})(\d)/, '$1.$2');
        } else if (cpf.length <= 9) {
            elemento.value = cpf.replace(/(\d{3})(\d{3})(\d)/, '$1.$2.$3');
        } else {
            elemento.value = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
        }
    }
    
    function formatarCEP(elemento) {
        let cep = elemento.value.replace(/\D/g, '');
        if (cep.length <= 5) {
            elemento.value = cep;
        } else {
            elemento.value = cep.replace(/(\d{5})(\d{3})/, '$1-$2');
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const telefoneInput = document.getElementById('id_telefone');
        const dataInput = document.getElementById('id_data_nascimento');
        const cpfInput = document.getElementById('id_cpf');
        const cepInput = document.getElementById('id_cep'); // Corrigido para pegar o campo correto
        
        if (telefoneInput) {
            telefoneInput.addEventListener('input', (event) => {
                formatarTelefone(event.target);
            });
        }
        
        if (dataInput) {
            dataInput.addEventListener('input', (event) => {
                formatarData(event.target);
            });
        }
        
        if (cpfInput) {
            cpfInput.addEventListener('input', (event) => {
                formatarCPF(event.target);
            });
        }
        
        if (cepInput) {
            cepInput.addEventListener('input', (event) => {
                formatarCEP(event.target);
            });
        }
    });
</script>
{% endblock %}

