{% extends "admin/base_site.html" %}
{% block extrahead %}
    {{ block.super }}
    {% if request.user.is_superuser %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function checkNotifications() {
                $.ajax({
                    url: '{% url "notificar:unread_notifications_count" %}',
                    method: 'GET',
                    success: function(data) {
                        if (data.unread_count > 0) {
                            // Cria um div para o alerta centralizado com estilo moderno
                            const alertDiv = `
                                <div id="notification-alert" style="position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%); background: #f8f9fa; border: 1px solid #007bff; padding: 20px; z-index: 1000; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
                                    <p style="color: #007bff; font-weight: bold;">Você tem ${data.unread_count} novo(s) Pedido(s) !!!</p>
                                </div>
                            `;
                            // Remove qualquer alerta existente e adiciona o novo
                            $('#notification-alert').remove();
                            $('body').append(alertDiv);

                            // Adiciona o botão após 2 segundos
                            setTimeout(function() {
                                $('#notification-alert').append('<button id="mark-as-read" style="margin-top: 10px; background: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer;">Confirmar recebimento do(s) Pedido(s)</button>');
                            }, 2000);
                        } else {
                            $('#notification-alert').remove();
                        }
                    }
                });
            }

            function markAsRead() {
                $.ajax({
                    url: '{% url "notificar:mark_all_as_read" %}',
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function() {
                        alert('O(s) Pedido(s) formam recebidos!!! Verfique a sessão dos pedidos.');
                        $('#notification-alert').remove();
                    }
                });
            }

            setInterval(checkNotifications, 30000);

            $(document).ready(function() {
                checkNotifications();
                $('body').on('click', '#mark-as-read', markAsRead);
            });
        </script>
    {% endif %}
    <!-- Adicionando funcionalidade de visualização de senha -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#id_password');

            if (togglePassword && password) {
                togglePassword.addEventListener('click', function (e) {
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                    password.setAttribute('type', type);
                    this.classList.toggle('bi-eye');
                });
            }
        });
    </script>
{% endblock %}
