{% load static %}
{% load omfilters %}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="d-none d-lg-block">Produto</th>
            <th>Descrição de Produto</th>
            <th>Tamanho</th>
            <th>Borda</th>
            <th>Qtde.</th>
            <th>Total</th>
        </tr>
        {% for linha in carrinho.values %}
        <tr>
            <td class="d-none d-lg-block">
                <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}" alt="{{ linha.produto_nome }}">
            </td>
            <td>
                {% if linha.produto_nome == '1' %}
                    <a href="{% url 'produto:detalhe' linha.slug %}">PRODUTO 1</a>
                {% elif linha.nome_produto_3 == '2' %}
                    <a href="{% url 'produto:detalhe_bebida' linha.slug %}">PRODUTO 2</a>
                {% elif linha.produto.nome_b == '3' %}
                    <a href="{% url 'produto:detalhe_doces' linha.slug %}">PRODUTO 3</a>
                {% else %}
                    <a href="{% url 'produto:detalhe' linha.slug %}">{{ linha.produto_nome }}</a>
                {% endif %}
                <a class="ml-3" href="{% url 'produto:removerdocarrinho' %}?vid={{ linha.variacao_id }}">
                    <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                </a>
            </td>
            <td>{{ linha.variacao_nome }}</td>
            <td>{{ linha.borda_nome }}</td>
            <td>
                {{ linha.quantidade }} x
                {% if linha.preco_unitario_promocional %}
                {{ linha.preco_unitario_promocional }}
                {% else %}
                {{ linha.preco_unitario }}
                {% endif %}
            </td>
            <td>
                {% if linha.preco_quantitativo_promocional %}
                {{ linha.preco_quantitativo_promocional|formata_preco }}
                {% else %}
                {{ linha.preco_quantitativo|formata_preco }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
