{% load static %}

<style>
    .custom-footer {
        background-color: #1f1e1f;
    }
</style>

<footer class="container-fluid custom-footer">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="p-1 text-warning">
                    <span class="align-middle p-1">Projeto Integrador Transdisciplinar em Sistema de Informação II</span>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-warning">
                    <span class="align-middle p-1">Aluno: Ernane da Silva Oliveira - RGM : 25719122</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>
