{% load static %}
{% load omfilters %}
<div class="row">
    <div class="col">
        <h3>{{ pedido }}</h3> <!-- Exibe o título do pedido -->
        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div> <!-- Rótulo para o total a pagar -->
            <div class="col-lg-4">{{ pedido.total|formata_preco }}</div> <!-- Exibe o total formatado -->
            <div class="col-lg-2 font-weight-bold">Qtde. Itens:</div> <!-- Rótulo para a quantidade de itens -->
            <div class="col-lg-4">{{ pedido.qtd_total }}</div> <!-- Exibe a quantidade total de itens -->
            <div class="col-lg-2 font-weight-bold">Status:</div> <!-- Rótulo para o status do pedido -->
            <div class="col-lg-4">{{ pedido.get_status_display }}</div> <!-- Exibe o status do pedido -->
        </div>
        <div class="row mt-4">
            <div class="col">
                <br>
                <h3>Lista de Produtos</h3> <!-- Título para a lista de produtos -->
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Produto</th> <!-- Cabeçalho da coluna Produto -->
                    <th>Descrição do produto</th> <!-- Cabeçalho da coluna Descrição do produto -->
                    <th>Tamanho</th> <!-- Cabeçalho da coluna Tamanho -->
                    <th>Borda</th> <!-- Cabeçalho da coluna Borda -->
                    <th>Qtde.</th> <!-- Cabeçalho da coluna Quantidade -->
                    <th>Total</th> <!-- Cabeçalho da coluna Total -->
                </tr>
                {% for linha in pedido.itempedido_set.all %}
                <tr>
                    <td class="d-none d-lg-block"><img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}"></td> <!-- Exibe a imagem do produto -->
                    <td>{{ linha.produto }}</td> <!-- Exibe o nome do produto -->
                    <td>{{ linha.variacao }}</td> <!-- Exibe a variação do produto (tamanho) -->
                    <td>{{ linha.borda.nome }}</td> <!-- Exibe o nome da borda -->
                    <td>{{ linha.quantidade }}</td> <!-- Exibe a quantidade do produto -->
                    <td>
                        {% if linha.preco_promocional %}
                        {{ linha.preco_promocional|formata_preco }} <!-- Exibe o preço promocional formatado -->
                        {% else %}
                        {{ linha.preco|formata_preco }} <!-- Exibe o preço normal formatado -->
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


